apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ app_name }}
  name: {{ app_name }}
spec:
  ports:
{% for item in ports|list %}
  - name: {{ item }}-tcp
    port: {{ item }}
    protocol: TCP
    targetPort: {{ item }}
{% endfor %}
  selector:
    app: {{ app_name }}
  sessionAffinity: None
  type: ClusterIP

